<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JetBrains.Annotations" version="10.2.1" targetFramework="net35" />
  <package id="Microsoft.Bcl" version="1.1.8" targetFramework="net40" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net40" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net40" />
  <package id="protobuf-net" version="1.0.0.280" targetFramework="net35" />
</packages>